spring:
  datasource:
    url: jdbc:mysql://localhost:3306/webshop?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
server:
  port: 8080
servlet:
  multipart:
    max-file-size: 10MB
    max-request-size: 10MB
api:
  prefix: api/v1
jwt:
  expiration: 2592000    #30 days = 30*24*60*60
  secretKey: FUIsuS02z1nRY7F6tgTOH0yR70PtMAnn9yXQudy5G88=